In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# load data
df = pd.read_csv('power_gen_data/7698_source_data.csv')
df.head()

,Country,srcYear,srcMonth,srcCalendarDay,Type of power generation,Monitored capacity,Capacity under long outage,New capacity under stabilization or completion of balance works,Capacity of power generation from Prime Movers (PM),Capacity of power generation from Fuel Oil (FO),...,Gross sum of maximum power generated,Net sum of maximum power generated,Maximum power output as percentage of capacity on line,Percentage of monitered maximum power output,YearCode,Year,MonthCode,Month,DayCode,CalendarDay
0,India,2017,Sep-2017,05-Sep-2017,Hydro,44753.42,156.4,NaN,63.40,231.00,...,32649.77,32323.27,72.99,72.23,2017,"Financial Year (Apr - Mar), 2017",201706,"September, 2017",20170905,2017-09-05
1,India,2017,Sep-2017,06-Sep-2017,Hydro,44753.42,1142.9,NaN,886.15,1330.27,...,32902.77,32573.74,80.17,72.78,2017,"Financial Year (Apr - Mar), 2017",201706,"September, 2017",20170906,2017-09-06
2,India,2017,Sep-2017,12-Sep-2017,Thermal_Diesel,837.63,NaN,NaN,0.00,0.00,...,46.05,45.13,5.39,5.39,2017,"Financial Year (Apr - Mar), 2017",201706,"September, 2017",20170912,2017-09-12
3,India,2017,Sep-2017,13-Sep-2017,Thermal_Gas Liquid,25130.88,216.0,NaN,0.00,0.00,...,11748.50,11513.53,46.21,45.81,2017,"Financial Year (Apr - Mar), 2017",201706,"September, 2017",20170913,2017-09-13
4,India,2017,Sep-2017,13-Sep-2017,Nuclear,6780.00,NaN,NaN,NaN,NaN,...,4035.00,3570.97,NaN,52.67,2017,"Financial Year (Apr - Mar), 2017",201706,"September, 2017",20170913,2017-09-13